
DATABASE_URL="YOUR_CONNECTION_STRING_HERE"
PORT="YOUR_PORT_HERE"
app_url = "YOUR_APP_URL_HERE"
bcrypt_salt_rounds = "YOUR_BCRYPT_SALT_ROUNDS_HERE" 
jwt_access_secret = "YOUR_JWT_ACCESS_SECRET_HERE"
jwt_refresh_secret = "YOUR_JWT_REFRESH_SECRET_HERE"
jwt_access_expires_in = "YOUR_VALUE_HERE"
jwt_refresh_expires_in = "YOUR_VALUE_HERE"